.vs/Miniville/FileContentIndex/64bae3bf-9501-40c4-8cfa-fd63fbf507db.vsidx
.vs/slnx.sqlite
.vs/Miniville/v17/.wsuo
.vs/Miniville/v17/DocumentLayout.backup.json
.vs/Miniville/v17/DocumentLayout.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
obj/Debug/net8.0/Miniville.AssemblyInfo.cs
obj/Debug/net8.0/Miniville.AssemblyInfoInputs.cache
obj/Debug/net8.0/Miniville.assets.cache
obj/Debug/net8.0/Miniville.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Release/net8.0/Miniville.AssemblyInfoInputs.cache
obj/Release/net8.0/Miniville.AssemblyInfo.cs
obj/Release/net8.0/Miniville.assets.cache
obj/Release/net8.0/Miniville.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net8.0/Miniville.GlobalUsings.g.cs
.vs/Miniville/v17/.wsuo
obj/Debug/net8.0/Miniville.GeneratedMSBuildEditorConfig.editorconfig
